/*****COMMON STYLES*****/

a , a:hover {
    display: inline-block;
    text-decoration: none;
}

.text-hover {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.text-hover:hover, .bottom-block .divider {
    color: #3090dd!important;
    text-decoration: none;
}

.text-white {
    color: #fff;
}

.top-block-item h2, .bottom-block h2, .bottom-block span {
    color: #000;
}