/*MAIN CSS */

/*@import "css/homepage.css";*/

.banner-item-link {
    display: block;
}

.banner-image-wrap {
    height: 274px;
    position: relative;
}

.banner-image {
    width: 100%;
    height: 100%;
    background: center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
}

.banner-text-wrap {
    color: #fff;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

    .banner-image-wrap {
        height: 346px;
    }
}

@media (min-width: 992px) {

    .banner-image-wrap {
        height: 550px;
    }
}